<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.jb.dao.FitnessDao">
        <resultMap id="RM" type="fitness">
                <id property="fId" column="fId"/>
                <result property="user.id" column="uId" />
                <result property="cId" column="cId" />
                <result property="fTime" column="fTime" />
                <result property="fCreateTime" column="fCreateTime" />
                <result property="user.uName" column="uName"/>

        </resultMap>
        <select id="selectFitnessByUser" resultMap="RM" parameterType="user">
                SELECT
                b.fId fId,
                b.uId uId,
                b.cId cId,
                b.fTime fTime,
                b.fCreateTime fCreateTime,
                (
                SELECT 
                c.uName
                FROM t_user c
                WHERE c.uId=b.uId
                )as uName
                FROM t_fitness b,t_user c
                WHERE b.uId=#{uId}
                ORDER BY b.fCreateTime DESC
        </select>
        <insert id="insertFitness"  parameterType="fitness" >
                INSERT INTO
                t_fitness
                (fId,uId,cId,fTime,fCreateTime)
                VALUES
                (#{fId},#{user.uId},#{cId},#{fTime},#{fCreateTime})
        </insert>
        <delete id="deleteFitness" parameterType="fitness">
                DELETE FROM
                t_fitness
                WHERE
                fId=#{fId}
        </delete>

</mapper>