<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zte.jb.dao.RunDao">
        <resultMap id="RM" type="run">
                <id property="rId" column="rId"/>
                <result property="user.id" column="uId" />
                <result property="rJourney" column="rJourney" />
                <result property="rTime" column="rTime" />
                <result property="rCreateTime" column="rCreateTime" />
                <result property="user.uName" column="uName"/>
        </resultMap>
        <select id="selectRunByUser" parameterType="user" resultMap="RM">
                SELECT
                b.rId rId,
                b.uId uId,
                b.rJourney rJourney,
                b.rTime rTime,
                b.rCreateTime rCreateTime,
                (
                 SELECT
                 c.uName
                 FROM t_user c
                 WHERE c.uId=b.uId
                )as uName
                FROM t_run b,t_user c
                WHERE b.uId=#{uId}
                ORDER BY b.fCreateTime DESC
        </select>
        <insert id="insertRun" parameterType="run">
                INSERT INTO
                t_run
                (rId,uId,rJourney,rTime,rCreateTime)
                VALUES
                (#{rId},#{uId},#{rJourney},#{rTime},#{rCreateTime})
        </insert>
        <delete id="deleteRun" parameterType="run">
                DELETE FROM
                t_run
                WHERE
                rId=#{rId}
        </delete>
</mapper>